<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/css/unity.css}">
<link rel="stylesheet" th:href="@{/css/engineer.css}">
<script type="text/javascript" th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/js/list.js}" charset="UTF-8"></script>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<header th:insert="/header"></header>
<main>
<div>
			<h1 class="pagetitle">エンジニア一覧</h1>
			<p class="errorMessage" th:text="エラーメッセージがここに入ります"></p>
			<input type="button" onclick="history.back()" value="戻る" class="backButton right defolt">
		</div>

	<div class="resultList">
		<div class="listSort">
			<p><b class="right">表示件数 ○件</b></p>
		</div>
			<table class="resultTable tablesorter" id="myTable">
			<thead>

				<tr class="tableTitle">
					<th>氏名</th>
					<th>会社名</th>
					<th>事業部</th>
					<th>担当<br>営業</th>
					<th>メール<br>アドレス</th>
					<th>検索結果</th>
					<th>稼働<br>状況</th>
					<th class="noimage">スキル<br>シート</th>
				</tr>
				 </thead>

				 <tbody>
				<tr data-href="skillsheet_reference.html">
					<td>サンプル氏名あ</td>
					<td>PDR</td>
					<td>開発事業部</td>
					<td>か担当営業</td>
					<td>xxxx＠xxx.jp</td>
					<td>＃「業界」/年数、＃「DB」/年数、＃「言語１」/年数、
						<br>＃「言語２」/年数/リーダー経験、＃「その他」検索内によって変わる）</td>
					<td>提案不可</td>
					<td><form th:method="get" th:action="@{skillsheet_reference}">
						<!-- hiddenでuserIdを送る。 -->
						<input type="hidden" name="userId"></input>
						<input type="submit" class="nonhoverdefolt backglay" th:value="参照">
					</form></td>
				</tr>
			</tbody>
			</table>
	</div>
</main>
</body>
</html>