<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
<meta charset="UTF-8">

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/unity.css">
<link rel="stylesheet" type="text/css" href="css/skillsheet_update.css">
<title>スキルシート案件更新</title>
</head>
<body>
	<header th:insert="/header"></header>
	<main>
		<div>
			<h1 class="pagetitle">案件更新</h1>
			<p class="errorMessage">エラーメッセージがここに入ります</p>
		</div>

	<form th:method="POST" th:action="@{/skillsheet_reference}">
		<div class="box">
		<p class="RequiredMessage left">※業務名、案件期間（開始月日）は必須項目です</p>
			<div class="flex-container">
				<div class="flex-3item flex-container">
					<div class="flex-3item-1">
						<p class="headline">業務名<span class="errorMessage">※</span></p>
					</div>
					<div class="flex-3item-2">
						<input class="updateinput" type="text" value="○○システム">
					</div>
				</div>
				<div class="flex-3item flex-container">
					<div class="flex-3item-1">
						<p class="headline">業界</p>
					</div>
					<div class="flex-3item-2">
						<input class="updateinput" type="text" value="小売">
					</div>
				</div>
				<div class="flex-3item flex-container">
					<div class="flex-3item-1">
						<p class="headline">案件期間<span class="errorMessage">※</span></p>
					</div>
					<div class="flex-3item-2">
						<p><input class="inputDay" type="date" value="2019-04-01">
							<span>&nbsp;~</span>
							<input class="inputDay" type="date" value="2020-03-30"></p>
					</div>
				</div>
				<div class="flex-3item flex-container">
					<div class="flex-3item-1">
						<p class="headline">チーム人数</p>
					</div>
					<div class="flex-3item-2">
						<input type="text" value="20"><span>&emsp;人</span>
					</div>
				</div>
				<div class="flex-3item flex-container">
					<div class="flex-3item-1">
						<p class="headline" >ポジション</p>
					</div>
					<div class="flex-3item-2">
						<select class="updateselect">
							<option value=""></option>
							<option value="" selected>メンバー</option>
							<option value="">サブリーダー</option>
							<option value="">リーダー</option>
							<option value="">プロジェクトマネージャー</option>
						</select>
					</div>
				</div>
			</div>
			<div>
				<div id="mask" class="hidden"></div>

				<div class="flex-container leftmargin">
					<div class="flex-2item-1">
						<p class="headline widthfaze">担当フェーズ</p>
					</div>

					<div class="flex-2item-2">
						<p id="re">下のボタンより選択してください</p>
					</div>
				</div>
				<input class="defolt plusButton modalButton" id="open" type="button" value="選択する">
					<section id="modal" class="hidden box">
						<h3 class="center">担当フェーズ選択</h3>
						<div id="modalclear" class="defolt plusButton pointer clearposition">クリア</div>
						<div class="flex-container">
							<div class="flex-3item">
								<p>開発案件</p>
								<input type="checkbox" name="checkboxfaze"  value="要件定義" checked>要件定義<br>
								<input type="checkbox" name="checkboxfaze"  value="基本設計" checked>基本設計<br>
								<input type="checkbox" name="checkboxfaze"  value="詳細設計" checked>詳細設計<br>
								<input type="checkbox" name="checkboxfaze"  value="製造">製造<br>
								<input type="checkbox" name="checkboxfaze"  value="改修">改修<br>
								<input type="checkbox" name="checkboxfaze"  value="単体テスト">単体テスト<br>
								<input type="checkbox" name="checkboxfaze"  value="結合テスト">結合テスト<br>
								<input type="checkbox" name="checkboxfaze"  value="テスト実行">テスト実行<br>
								<input type="checkbox" name="checkboxfaze"  value="テスト設計">テスト設計<br>
								<input type="checkbox" name="checkboxfaze"  value="システムテスト">システムテスト<br>
								<input type="checkbox" name="checkboxfaze"  value="運用">運用<br>
								<input type="checkbox" name="checkboxfaze"  value="保守">保守<br>
							</div>
							<div class="flex-3item">
								<p>インフラ案件</p>
								<input type="checkbox" name="checkboxfaze" value="提案">提案<br>
								<input type="checkbox" name="checkboxfaze"  value="要件定義">要件定義<br>
								<input type="checkbox" name="checkboxfaze"  value="基本設計">基本設計<br>
								<input type="checkbox" name="checkboxfaze"  value="詳細設計">詳細設計<br>
								<input type="checkbox" name="checkboxfaze"  value="構築">構築<br>
								<input type="checkbox" name="checkboxfaze" value="テスト">テスト<br>
								<input type="checkbox" name="checkboxfaze"  value="移行">移行<br>
								<input type="checkbox" name="checkboxfaze"  value="運用">運用<br>
								<input type="checkbox" name="checkboxfaze"  value="保守">保守<br>
								<input type="checkbox" name="checkboxfaze"  value="監視">監視<br>
							</div>
							<div class="flex-3item">
								<p>検証案件</p>
								<input type="checkbox" name="checkboxfaze"  value="テスト計画">テスト計画<br>
								<input type="checkbox" name="checkboxfaze"  value="テスト管理">テスト管理<br>
								<input type="checkbox" name="checkboxfaze"  value="テスト設計">テスト設計<br>
								<input type="checkbox" name="checkboxfaze"  value="テスト実行">テスト実行<br>
								<p>ロー案件</p>
								<input type="checkbox" name="checkboxfaze" value="運用/監視">運用/監視<br>
								<input type="checkbox" name="checkboxfaze"  value="保守">保守<br>
								<input type="checkbox" name="checkboxfaze"  value="テスト実行">テスト実行<br>
							</div>
						</div>
					<div id="ok" class="defolt plusButton right pointer">確定</div>
					<div id="close" class="defolt plusButton right pointer">閉じる</div>
				</section>
			<p class="headline leftmargin">業務内容</p>
			<textarea class="leftmargin" id="textareaHight">
Servlet／JSPで作成されている生花店様向けショッピングサイトを、SpringBoot化するリプレース対応業務に携わりました。
【業務内容】
・画面の製造
・帳票（PDF）の作成
・単体テスト仕様書の作成及び、単体テストの実施
・詳細設計書の軽微な修正
・結合テスト実施

【心掛けたこと】
・毎朝進行スケジュールを組んで進めました。
・メンバーに相談し、作業遅延にならないよう努めました。
・レビューでの指摘を繰り返さないようにしました。
			</textarea></div>

			<div class="flex-container leftmargin">
				<div class="flex-2item flex-container">
					<div class="flex-2item-1">
						<p class="headline">DB</p>
					</div>
					<div class="flex-2item-2">
						<p><select>
							<option value="">指定なし</option>
							<option value="">MySQL</option>
							<option value="" selected>PostgreSQL</option>
							<option value="">oracle</option>
						</select>
						<input class="inputskill" type="text" placeholder="バージョン" value="8.0">
						<input class="defolt plusButton add_db relative add" type="button" value="追加" ></p>
						<p><input  class="inputskill" type="text" placeholder="DB入力">
							<input class="inputskill" type="text" placeholder="バージョン">
							<input class="defolt plusButton add_db2 relative add" type="button" value="追加" ></p>
					</div>
				</div>
				<div class="flex-2item flex-container">
					<div class="flex-2item-1">
						<p class="headline">FW/NW</p>
					</div>
					<div class="flex-2item-2">
						<p><input class="inputskill" type="text" placeholder="FW/NW入力">
						<input class="inputskill" type="text" placeholder="バージョン" value="SpringBoot">
						<input class="defolt plusButton add_fw relative add" type="button" value="追加"></p>
					</div>
				</div>
				<div class="flex-2item flex-container">
					<div class="flex-2item-1">
						<p class="headline">OS</p>
					</div>
					<div class="flex-2item-2">
						<p><select>
							<option value="">指定なし</option>
							<option value=""selected>Windows</option>
							<option value="">Linux</option>
							<option value="">iOS</option>
						</select>
						<input class="inputskill" type="text" placeholder="バージョン" value="10">
						<input class="defolt plusButton add_os relative add" type="button" value="追加"></p>
						<p><input class="inputskill" type="text" placeholder="OS入力">
							<input class="inputskill" type="text" placeholder="バージョン">
							<input class="defolt plusButton add_os2 relative add" type="button" value="追加" ></p>
					</div>
				</div>
				<div class="flex-2item flex-container">
					<div class="flex-2item-1">
						<p class="headline">言語</p>
					</div>
					<div class="flex-2item-2">
						<p><select>
							<option value="">指定なし</option>
							<option value="" selected>Java</option>
							<option value="">PHP</option>
							<option value="">HTML/CSS</option>
						</select>
						<input class="inputskill" type="text" placeholder="バージョン" value="11">
						<input class="defolt plusButton add_la relative add" type="button" value="追加" ></p>
						<p><input class="inputskill" type="text" placeholder="言語入力">
							<input class="inputskill" type="text" placeholder="バージョン">
							<input class="defolt plusButton add_la2 relative add" type="button" value="追加" ></p>
					</div>
				</div>
				<div class="flex-2item flex-container">
					<div class="flex-2item-1">
						<p class="headline">その他</p>
					</div>
					<div class="flex-2item-2">
						<p><input class="inputskill" type="text" placeholder="その他入力" value="Tomcat">
							<input class="inputskill" type="text" placeholder="バージョン" value="9.0">
							<input class="defolt plusButton add_ot relative add" type="button" value="追加" ></p>
					</div>
				</div>
			</div>
		</div>

		<div class="centerbox">
		   	<div class="lineup">
			  <input type="submit" value="更新" class="submitButton defolt bottomwidth width">
			</div>

		    <div class="lineup">
		      <input type="button" onclick="history.back()" value="戻る" class="backButton defolt bottomwidth width">
			</div>
		</div>
	</form>

</main>
  <script type="text/javascript" src="js/skillsheet.js"></script>
</body>
</html>
