<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/unity.css}" rel="stylesheet">
<link th:href="@{/css/costom.css}" rel="stylesheet">
<title>ユーザー新規登録-完了</title>
</head>
<body>
	<header th:insert="/header"></header>

	<main>
	<form th:action="@{/user_management}" th:method="post">
		<div class="centerbox">
			<p class="subtitle">ユーザー登録を完了しました。</p>
			<p class="subtitle">xxxxxxxxx@proud-g.jp@にメールを送信しました。</p>
		</div>

		<div class="centerbox boxsidespace">

		        <input type="submit" class="backButton defolt bottomwidth width" value="戻る"></input>
	    </div>
	     </form>
	</main>

</body>
</html>
