<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="jp">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/unity.css">
<link rel="stylesheet" type="text/css" href="css/costom.css">
<title>ユーザーパスワード変更</title>
</head>
<body>
	<header th:insert="/header"></header>

	<main>
	<h1 class="pagetitle">ユーザーパスワード変更</h1>
	<p class="errorMessage sidespace">エラーメッセージがここに入ります</p>
	<form th:method="POST" th:action="@{/user_password_completed}">
		<div class="box boxsidespace sidespace updownspace">
			<div class="center">
				<p class="left top0"><span>○○</span>さんの新しいパスワードを2回入力してください。</p>
				<input class="inputsize inputbottomspace" type="password" placeholder="新しいパスワード" /><br>
				<input class="inputsize" type="password" placeholder="確認用新しいパスワード" /><br>
			</div>
		</div>

		<div class="centerbox">
			<div class="lineup">
				<input type="submit" value="送信" class="submitButton defolt bottomwidth width">
			</div>

			<div class="lineup">
			  <input type="button" onclick="history.back()" value="戻る" class="backButton defolt bottomwidth width">
			</div>
		</div>
	</form>


	</main>
</body>
</html>
