<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/unity.css}" rel="stylesheet">
<link th:href="@{/css/costom.css}" rel="stylesheet">
<title>ユーザー情報変更</title>
</head>
<body>

 	<header th:insert="/header"></header>


	<main>
	<h1 class="pagetitle">ユーザー情報変更</h1>
	<p class="errorMessage systemMessage" th:text="${errMessage}"></p>
	<form th:action="@{/user_information_confirmation}" th:method="post">
		<div class="box boxsidespace">
			<div class="box-title">ユーザー情報入力</div>
			<div class="flex-container flex-center">
				<div class="flex-2item">
					<p class="inputtitle">メールアドレス</p>
					<input class="userbox" type="text" />
				</div>
				<div class="flex-2item">
					<p class="inputtitle">権限</p>
					<select class="userselect">
						<option value=”0”>指定なし</option>
						<option value=”1”>一般社員</option>
						<option value=”2”>現場リーダー</option>
						<option value=”3”>事業部リーダー</option>
						<option value=”4”>管理者(管理営業,社長)</option>
					</select>
				</div>
				<div class="flex-2item">
					<p class="inputtitle">氏名</p>
					<input class="userbox" type="text" />
				</div>
				<div class="flex-2item">
					<p class="inputtitle">フリガナ</p>
					<input class="userbox" type="text" />
				</div>
			</div>
		</div>

		<div class="centerbox">
			<div class="lineup">
				<input type="submit" class="submitButton defolt bottomwidth width" value="確認"></input>
			</div>
			<div class="lineup">
				<input type="button" onclick="history.back()" class="backButton defolt bottomwidth width" value="戻る">
			</div>
		</div>
	</form>

	</main>
</body>
</html>
